<html>
    <head>
        <title>Registeration Form</title>
        <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
<body>
<center>
    <h2>Customer Registeration </h2>
</center>
   <div id="customer" class="container">
        <form id="registerCustomer" class="form-horizontal">
            </br>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Name : </label>
                <input class="col-sm-8" id="name" type="text"  name="name" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2" for="contact">Contact : </label>
                <input class="col-sm-8"  id="contact" type="text" name="contact" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="email">Email : </label>
                <input class="col-sm-8"  id="email" type="text"  name="email" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="userName">User Name : </label>
                <input class="col-sm-8"  id="userName" type="text" name="userName" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="password">Password : </label>
                <input class="col-sm-8"  id="password" type="text"  name="password" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="flat_no">Flat No. : </label>
                <input class="col-sm-8"  id="flat_no" type="text" name="flat_no" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="building">Building : </label>
                <input class="col-sm-8"  id="building" type="text" name="building" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="street">Street : </label>
                <input class="col-sm-8"  id="street" type="text" name="street" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="area">Area : </label>
                <input class="col-sm-8"  id="area" type="text" name="area" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="city">City : </label>
                <input class="col-sm-8"  id="city" type="text" name="city" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="state">State : </label>
                <input class="col-sm-8"  id="state" type="text" name="state" class="form-control" required="true">
                <br/><br/>
                <label class="control-label col-sm-2"  for="pincode">Pin Code : </label>
                <input class="col-sm-8"  id="pincode" type="text" name="pincode" class="form-control" required="true">
                <br/><br/>
                <label class="col-sm-offset-2 col-sm-10">
                    <input type="checkbox">Agree Terms & Conditions
                </label>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" onclick="sendData()">Submit</button>
                </div>
            </div>
        </form>
   </div>
</body>

<script type="text/javascript">
    function sendData(){
        //collecting form data
        var form = document.getElementById('registerCustomer');
        var data = {};
        for(i=0; i<form.length; i++){
            if(form[i].type!="button"){
                data[form[i].name] = form[i].value;
            }
        }
        console.log(data);

        //creating httpRequest
        var request = new XMLHttpRequest();
        request.open("POST","registerCustomer",true);
        request.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

        //sending json data
        request.send(JSON.stringify(data));
    }
</script>
</html>