<html>
    <head>
        <title>Registeration Form</title>
        <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
<body>

<center>
<div class="Panel">
    <h1>Customer Registeration</h1>
<form class="form-inline" action="/registerCustomer" method="POST">
    Name: <input class="form-control" type="text" name="name">
    Contact : <input class="form-control" type="text" name="contact">
    <br/><br/>
     Email : <input class="form-control" type="email" name="email">
    <br/><br/>
     Username : <input class="form-control" type="text" name="username">
    <br/><br/>
     Password : <input class="form-control" type="password" name="password">
    <br/><br/>
     Flat No. : <input class="form-control" type="text" name="flatNo">
    <br/><br/>
     Building : <input class="form-control" type="text" name="building">
    <br/><br/>
     Street : <input class="form-control" type="text" name="street">
    <br/><br/>
     Area : <input class="form-control" type="text" name="area">
    <br/><br/>
     City : <input class="form-control" type="text" name="city">
    <br/><br/>
     State : <input class="form-control" type="text" name="state">
    <br/><br/>
     Zip Code : <input class="form-control" type="text" name="zip">
    <br/><br/>
    <input class="btn btn-primary" type="submit" value="Register">
</form>
</div></center>
</body>
</html>